<mat-toolbar color="accent">
  <span>Dynamsoft Angular Test Site</span>
</mat-toolbar>

<mat-sidenav-container id="ControlsSidenavContainer" class="full-height">
  <mat-sidenav id="ControlsSidenav" #sidenav mode="side" opened="true">
    <mat-toolbar class="compact-toolbar" color="primary">
      <span>Scanner Controls</span>
    </mat-toolbar>

    <div class="controls">
      <button mat-raised-button sb-dynamsoft-scan-button>Scan</button>
    </div>

    <mat-toolbar class="compact-toolbar" color="primary">
      <span>Pagination</span>
    </mat-toolbar>

    <div class="controls">
      <div class="flex-justify-between">
        <button mat-raised-button mat-icon-button sb-dynamsoft-first-page-button>
          <mat-icon>first_page</mat-icon>
        </button>
        <button  mat-raised-button mat-icon-button sb-dynamsoft-previous-page-button>
          <mat-icon>navigate_before</mat-icon>
        </button>
        <sb-dynamsoft-current-page class="page-number"></sb-dynamsoft-current-page>
        <span class="page-number">/</span>
        <sb-dynamsoft-total-pages class="page-number"></sb-dynamsoft-total-pages>
        <button  mat-raised-button mat-icon-button sb-dynamsoft-next-page-button>
          <mat-icon>navigate_next</mat-icon>
        </button>
        <button  mat-raised-button mat-icon-button sb-dynamsoft-last-page-button>
          <mat-icon>last_page</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <sb-dynamsoft-container width="100%" height="800"></sb-dynamsoft-container>
</mat-sidenav-container>
